.about {
  padding-top: 33px;
  padding-left: 49px;
  padding-bottom: 82px;

  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  background:@second-color;
  background-image: url(/source/img/about-mobile@1x.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 4;
}
.about__title {
  .offset;
  margin-bottom: 19px;

  color: @orange-color;
  line-height: 24px;
}
.about__text {
  width: 210px;
  font-weight: 300;

  color: white;
  line-height: 22px;


}
.about__announce {
  width: 210px;

  color: white;
  font-weight: bold;
}
