.directions {
  padding: 0 25px;

  margin-top: -25px;
  background-color: @light-bg;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 5;
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.directions__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}
.directions__img {
  @media (min-width: @tablet-width) {
    order: 2;
   }
}
.directions__descr {
  .offset;
  background-color: white;
  @media (min-width: @tablet-width) {
   order: 1;
  }
}
.directions__title {
  .offset;
  margin-bottom: 19px;
  padding-top: 70px;
  padding-left: 29px;

  color: @orange-color;
  line-height: 24px;
}
.directions__text {
  width: 215px;
  padding-left: 29px;

  font-weight: 300;
  line-height: 22px;
}
.directions__list {
  .offset;
  list-style: none;
  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
    margin-top: 88px;
  }
}
.directions__name {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.directions__count {
  color: @main-color;
  opacity: 0.3;

  line-height: 20px;
}
.directions__announce {
  color: #444444;
  opacity: 0.3;

  line-height: 18px;
}
