
.intro {
  .offset;
  padding: 0 25px;
  padding-top: 25px;

  background:@second-color;
}
/* .intro__bg {
  position: absolute;
  .margin-clean;
  top: 95px;
  width: 320px;
  height: 555px;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color:@second-color;
  z-index: -1;
} */
 .intro__list {
  .offset;
  margin-top: -70px;
  padding-bottom: 39px;
  list-style: none;

}
.intro__item {
  display: flex;
  justify-content: space-between;
  width: 270px;
  background-color: @orange-color;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
.intro__text {
  .offset;
  padding-left: 24px;
  padding-top: 22px;
}
.intro__num {
  .offset;
  padding-top: 22px;
  padding-right: 21px;
  color: white;
}

