.rates {
  padding: 0 25px;
  padding-top: 70px;
  margin-top: -25px;

  background-color: @light-bg;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  z-index: 3;
}
.rates__title {
  padding-left: 50px;
  width: 105px;
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
  color: @orange-color;
  @media (min-width: @tablet-width) {
    width: 500px;
  }
}
.rates__list {
  list-style: none;
}
.rates__item {
  font-weight: 300;
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
.rates__num-1,
.rates__num-2,
.rates__num-3 {
  display: table-cell;
  width: 34px;
  height: 34px;
  text-align: center;
  vertical-align: middle;

  border-radius: 50%;

  color: white;

  background-color: @orange-color;
  @media (min-width: @tablet-width) {
    order: 1;
  }
}
.rates__text {
  @media (min-width: @tablet-width) {
    order: 2;
    align-self: center;
  }
}
.rates__cost {
  @media (min-width: @tablet-width) {
    order: 3;
    align-self: center;
  }
}
.rates__button {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;

  background: none;
  border: none;

  color: #132576;
  font-weight: bold;
  @media (min-width: @tablet-width) {
    margin-left: 130px;
  }
}
